
@{
    ViewBag.Title = "MemberJoinDone";
    Layout = "~/Views/Shared/_LayoutPro.cshtml";
}


@section style{
    <style>
        .welcometext {
            color: #0026ff;
            font-size: 16px;
            /*margin-right: 20px;*/
            text-align: right;
        }
    </style>

}

<div class="welcometext ">@ViewBag.message</div>

